.search-widget {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 40px;
    margin-bottom: 30px;
    width: 100%;
}

.search-widget__icon img {
    height: 40px;
}

.search-widget__input {
    flex-grow: 1;
}

.actions-row {
    align-content: center;
    display: flex;
    direction: row;
    height: 60px;
    justify-content: flex-end;
    margin-top: 20px;
    width: 100%;
}
