.book-card {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    height: 180px;
    width: 100%;
}

.book-card__content {
    display: flex;
    color: var(--dark-primary);
    flex-grow: 1;
    text-decoration: none;
}

.book-card__content:hover {
    background-color: var(--content-element-hover-bg);
}

.book-card__image {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 180px;
    width: 150px;
}

.book-card__info {
    background-color: var(--content-element-bg);
    flex-grow: 1;
    padding: 3px 10px 10px 10px;
}

.book-card__info__title {
    font-weight: bold;
    margin-bottom: 10px;
}

.book-card__info__field {
    margin-bottom: 6px;
}

.book-card__info__field .label {
    font-style: italic;
}

.book-card__delete {
    align-items: center;
    background-color: var(--dark-danger);
    display: flex;
    width: 50px;
}

.book-card__delete:hover {
    background-color: var(--darkest-danger);
}
