.book-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 5px;
    background-color: var(--content-element-bg);
}

.book-card__content {
    flex-grow: 1;
    display: flex;
}

.book-card__content:hover {
    background-color: var(--content-element-hover-bg);
}

.book-card__image {
    width: 160px;
    height: 200px;
    margin: 5px 5px 15px 5px;
}

.book-card__image img {
    width: 150px;
    height: 180px;
}

.book-card__info {
    flex-grow: 1;
}

.book-card__delete {
    width: 50px;
    background-color: red;
}
