@import "./book_card.css";
@import "./book_list.css";
@import "./book_panel.css";
@import "./buttons.css";

/* General component styles */
.my-label {
    font-style: italic;
}

/* Pure style components */
.my-separator {
    border-bottom: 1px solid var(--main-dark);
    margin: 10px auto;
    width: 100%;
}
